
    <section class="container mx-auto my-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

            <div class="bg-white rounded-lg overflow-hidden shadow-md cursor-pointer" (click)="navigateToPointTable()">

                <img src="assets/1.jpeg" alt="Featured Image" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h2 class="text-xl font-bold mb-2">Exciting Match Highlights</h2>
                    <p class="text-gray-700">Watch the thrilling highlights of the latest cricket matches.</p>
                </div>
            </div>

            <div class="bg-white rounded-lg overflow-hidden shadow-md">
                <img src="assets/3.jpg" alt="Featured Image" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h2 class="text-xl font-bold mb-2">Upcoming Tournaments</h2>
                    <p class="text-gray-700">Stay tuned for the upcoming cricket tournaments and events.</p>
                </div>
            </div>

            <div class="bg-white rounded-lg overflow-hidden shadow-md">
                <img src="assets/4.jpg" alt="Featured Image" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h2 class="text-xl font-bold mb-2">Player Spotlight</h2>
                    <p class="text-gray-700">Get to know more about your favorite cricket players.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Recent News Section -->
    <section class="container mx-auto my-8">
        <h2 class="text-2xl font-bold mb-4">Recent News</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- News Card 1 -->
            <div class="bg-white rounded-lg overflow-hidden shadow-md">
                <img src="assets/2.jpg" alt="News Image" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h3 class="text-xl font-bold mb-2">Exciting Victory for Team</h3>
                    <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                </div>
            </div>

            <!-- News Card 2 -->
            <div class="bg-white rounded-lg overflow-hidden shadow-md">
                <img src="assets/5.jpg" alt="News Image" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h3 class="text-xl font-bold mb-2">Upcoming Match Preview</h3>
                    <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                </div>
            </div>

            <!-- News Card 3 -->
            <div class="bg-white rounded-lg overflow-hidden shadow-md">
                <img src="assets/7.jpg" alt="News Image" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h3 class="text-xl font-bold mb-2">Player Achievements</h3>
                    <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                </div>
            </div>
        </div>
    </section>



